<h1>Create a new task!</h1>

<%= form_with model: @task do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <%= f.submit %>
<% end %>

<a href="http://127.0.0.1:3000/tasks" class="text-black">Return to all the tasks</a>
